<div class="budgets">
  <div class="create-month">
    <%= form_with model: [@month] do |form| %>
      <div class="new-month-form">
        <% next_month = Date.new(@months.first.year, @months.first.month, 1).next_month %>
        <%= form.hidden_field :month, value: next_month.month %>
        <%= form.hidden_field :year, value: next_month.year %>
        <%= form.submit '+' %>
      </div>
    <% end %>
  </div>
  <% @months.each do |month| %>
    <div class="month">
      <div class="month-header">
        <h3><%= Date.new(month.year, month.month).strftime('%B %Y').upcase %></h3>
      </div>
      <% month.budgets.each do |budget| %>
        <%= link_to budget do %>
          <% remaining = budget.total - budget.transactions.sum(&:amount) %>
          <% bg_class =
               if remaining.negative?
                 'budget-over'
               else
                 remaining < 50 ? 'budget-warn' : 'budget-ok'
               end %>
          <div class="budget <%= bg_class %>">
            <span><%= budget.name %></span>
            <span><%= remaining %>
              /
              <%= budget.total %>
            </span>
          </div>
        <% end %>
      <% end %>
      <%= render 'budgets/form', month: month, budget: @budget %>
    </div>
  <% end %>
</div>
