<div class="budgets">
  <div class="create-month">
    <%= form_with model: [@month] do |form| %>
      <div class="new-month-form">
        <% next_month = Date.new(@months.first.year, @months.first.month, 1).next_month %>
        <%= form.hidden_field :month, value: next_month.month %>
        <%= form.hidden_field :year, value: next_month.year %>
        <button type="submit">
          <%= inline_svg_tag 'icons/add.svg', class: 'icon-button' %>
        </button>
      </div>
    <% end %>
  </div>
  <% @months.each do |month| %>
    <div class="month">
      <div class="month-header">
        <h3><%= Date.new(month.year, month.month).strftime('%B %Y').upcase %></h3>
      </div>
      <% month.budgets.each do |budget| %>
        <% sum = budget.transactions.sum(&:amount) %>
        <% percent = sum.to_f / budget.total * 100 %>
        <% bg_class =
             if percent > 100
               'budget-over'
             else
               percent > 80 ? 'budget-warn' : 'budget-ok'
             end %>
        <div
          class="budget <%= bg_class %>"
          onclick='location.href=<%= budget_path(budget).to_json %>'>
          <span><%= budget.name %></span>
          <div class="budget-total">
            <span>$<%= sum %>
              / $<%= budget.total %></span>
          </div>
          <div class="budget-actions" onclick="event.stopPropagation()">
            <%= link_to edit_budget_path(budget) do %>
              <%= inline_svg_tag 'icons/edit.svg', class: 'icon-button' %>
            <% end %>
            <%= button_to budget_path(budget),
                          method: :delete,
                          data: { turbo_confirm: 'Are you sure?' } do %>
              <%= inline_svg_tag 'icons/trash.svg', class: 'icon-button' %>
            <% end %>
          </div>
        </div>
      <% end %>
      <%= render 'budgets/form', month: month, budget: @budget %>
    </div>
  <% end %>
</div>
