<%= form_with model: @budget do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :total %>
    <%= form.number_field :total %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
