<div class="form">
<%= form_with model: @budget do |form| %>
  <div class="form-input">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="form-input">
    <%= form.label :total %>
    <%= form.number_field :total %>
  </div>

  <div class="form-submit">
    <%= form.submit %>
  </div>
<% end %>
</div>
