<%= form_with model: budget do |form| %>

  <div class="form">
    <%= form.text_field :name, placeholder: 'Name', autofocus: true %>
    <%= form.number_field :total, placeholder: 'Limit' %>

    <div class="hidden-submit">
      <%= form.submit 'Create' %>
    </div>

    <% if budget.errors.any? %>
      <div class="form-errors">
        <% budget.errors.full_messages.each do |message| %>
          <span><%= message %></span>
        <% end %>
      </div>
    <% end %>

  </div>
<% end %>
