<div class="header">
  <%= link_to new_budget_path do %>
    <div class="header-button">
      <span>+ New Budget</span>
    </div>
  <% end %>
</div>

<div class="budgets">
  <% @transaction_groups.each do |group| %>
    <div class="month">
      <div class="month-header">
        <h3><%= group[0].upcase %></h3>
      </div>
      <% @budgets.each do |budget| %>
        <% transactions = group[1].select { |t| t.budget_id == budget.id } %>
        <%= link_to budget do %>
          <% remaining = budget.total - transactions.sum(&:amount) %>
          <% bg_class =
            if remaining.negative?
              "budget-over"
            else
              remaining < 50 ? "budget-warn" : "budget-ok"
            end %>
          <div class="budget <%= bg_class %>">
            <span><%= budget.name %></span>
            <span><%= remaining %>
              /
              <%= budget.total %>
            </span>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
