<h1>Budgets</h1>

<div class="header">
  <%= link_to new_budget_path do %>
    <div class="header-button">
      <span>+ New Budget</span>
    </div>
  <% end %>
</div>

<div class="budgets">
  <% @budgets.each do |budget| %>
    <%= link_to budget do %>
      <% remaining = budget.total - budget.transactions.sum(:amount) %>
      <%
        bg_class =
          if remaining < 0
            'budget-over'
          else
            remaining < 50 ? 'budget-warn' : 'budget-ok'
          end
      %>
      <div class="budget <%= bg_class %>">
        <span><%= budget.name %></span>
        <span><%= remaining %> / <%= budget.total %> </span>
      </div>
    <% end %>
  <% end %>
</div>
