<h1><%= @budget.name %></h1>

<div class="header">
  <%= link_to budgets_path do %>
    <div class="header-button">
      <span>Back</span>
    </div>
  <% end %>

  <%= link_to edit_budget_path(@budget) do %>
    <div class="header-button">
      <span>Edit</span>
    </div>
  <% end %>
  <%= button_to budget_path(@budget),
                method: :delete,
                data: { turbo_confirm: 'Are you sure?' } do %>
    <div class="header-button">
      <span>Delete</span>
    </div>
  <% end %>
</div>

<h2>Transactions</h2>

<%= render 'transactions/form', transacation: @transaction %>

<% unless @transactions.empty? %>
  <div class="transactions">
    <div class="transactions-header transaction-row">
      <span>Description</span>
      <span>Amount</span>
      <span>Date</span>
    </div>
    <% @transactions.sort_by(&:date).reverse.each do |transaction| %>
      <div class="transaction-row">
        <span class="transaction-cell"><%= transaction.description %></span>
        <span class="transaction-cell"><%= transaction.amount %></span>
        <span class="transaction-cell"><%= transaction.date %></span>
        <%= link_to budget_transaction_path(@budget, transaction), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
          <span class="transaction-cell">Delete</span>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
