<h2><%= @budget.name %></h2>

<div class="transactions">
  <div class="transactions-header transaction-row">
    <span>Description</span>
    <span>Amount</span>
    <span>Date</span>
  </div>
  <%= render 'transactions/form',
             month: @budget.month,
             budget: @budget,
             transaction: @transaction %>
  <% @transactions.sort_by(&:date).reverse_each do |transaction| %>
    <div class="transaction-row">
      <span class="transaction-cell"><%= transaction.description %></span>
      <span class="transaction-cell"><%= transaction.amount %></span>
      <span class="transaction-cell"><%= transaction.date %></span>
      <%= link_to transaction, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } do %>
        <%= inline_svg_tag 'icons/trash.svg', class: 'icon-button' %>
      <% end %>
    </div>
  <% end %>
</div>
