<h2><%= @budget.name %></h2>

<div class="header">
  <%= link_to budgets_path do %>
    <div class="header-button">
      <span>Back</span>
    </div>
  <% end %>

  <%= link_to edit_budget_path(@budget) do %>
    <div class="header-button">
      <span>Edit</span>
    </div>
  <% end %>
  <%= button_to budget_path(@budget),
                method: :delete,
                data: { turbo_confirm: 'Are you sure?' } do %>
    <div class="header-button">
      <span>Delete</span>
    </div>
  <% end %>
</div>

<div class="transactions">
  <div class="transactions-header transaction-row">
    <span>Description</span>
    <span>Amount</span>
    <span>Date</span>
  </div>
  <%= render 'transactions/form', budget: @budget, transaction: @transaction %>
  <% @transactions.sort_by(&:date).reverse_each do |transaction| %>
    <div class="transaction-row">
      <span class="transaction-cell"><%= transaction.description %></span>
      <span class="transaction-cell"><%= transaction.amount %></span>
      <span class="transaction-cell"><%= transaction.date %></span>
      <%= link_to budget_transaction_path(@budget, transaction), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } do %>
        <span class="header-button">Delete</span>
      <% end %>
    </div>
  <% end %>
</div>
