<%= form_with model: [@budget, @transaction] do |form| %>
  <div>
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :amount %>
    <%= form.number_field :amount %>
  </div>

  <div>
    <%= form.label :date %>
    <%= form.date_field :date %>
  </div>

  <div>
    <%= form.hidden_field :budget_id, value: @budget.id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
