<%= form_with model: [budget, transaction] do |form| %>
  <div class="transaction-row">
    <div class="form-input">
      <%= form.text_field :description, autofocus: true %>
    </div>

    <div class="form-input">
      <%= form.number_field :amount %>
    </div>

    <div class="form-input">
      <%= form.date_field :date, value: Date.current.strftime('%Y-%m-%d') %>
    </div>

    <%= form.hidden_field :budget_id, value: budget.id %>

    <div class="form-submit">
      <%= form.submit 'Create' %>
    </div>

    <% if transaction.errors.any? %>
      <div class="form-errors">
        <% transaction.errors.full_messages.each do |message| %>
          <span><%= message %></span>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
